$white: #ffff;
$violet: #7b6ada;
$violet-opacity: #7b6ada60;
$border-opacity: rgba(250, 250, 250, 0.3);
$rgb-white: rgb(255, 255, 255);
$red: red;
$about-background: #f1f0fe;
$violet-rgb: rgb(122, 106, 216);
$white-rgb: rgb(255, 255, 255);
$black: #000;
$black-opacity: #4a4a4a;
$black-rgba: rgba(249, 235, 255, 0.15);
$border-ddd: #ddd;
$primary-color: #f1f0fe;