@using Web.Areas.chemistry_Vafa_admin.ViewModels.HomeSlider
@model HomeSliderUpdateVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            Update Home Slider
                        </p>
                        <form enctype="multipart/form-data" method="post" asp-action="update" asp-controller="homeslider" asp-area="chemistry-Vafa-admin" class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input class="form-control" asp-for="Title">
                                <span asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BackRoundImage">BackRoundImage</label>
                                <input class="form-control" asp-for="BackRoundImage">
                                <span asp-validation-for="BackRoundImage"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input class="form-control" asp-for="Description">
                                <span asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Category">Category</label>
                                <input class="form-control" asp-for="Category">
                                <span asp-validation-for="Category"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-light" href="./">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>