<header class="header-area header-sticky">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="index.html" class="logo">
                    <h1>Scholar</h1>
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li class="scroll-to-section"><a href="#top" class="active">Əsas</a></li>
                    <li class="scroll-to-section"><a href="#teacher">Haqqımızda</a></li>
                    <li class="scroll-to-section"><a href="#courses">Sınaglar</a></li>
                    <li class="scroll-to-section"><a href="videolessons.html">Dərslər</a></li>
                    <li class="scroll-to-section"><a href="#team">Tələbələrimiz</a></li>
                    <li class="scroll-to-section"><a href="events.html">Xəbərlər</a></li>
                    <li class="scroll-to-section"><a href="#contact">Əlaqə</a></li>
                    <li class="scroll-to-section" id="btn-popup"><a href="#">Daxil ol</a></li>
                </ul>
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</header>
<section class="inner-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Sınaqlar</h2>
                </div>
            </div>
        </div>
        <ul class="event_filter">
            <li>
                <a href="#!" data-filter=".design">MİQ</a>
            </li>
            <li>
                <a href="#!" data-filter=".development">Abuturiyent</a>
            </li>
        </ul>
        <div class="row event_box">
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="assets/images/course-01.jpg" alt=""></a>
                        <span class="category">Webdesign</span>
                        <span class="price">
                            <h6>
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                          fill="#fff"></path>
                                </svg>160
                            </h6>
                        </span>
                    </div>
                    <div class="down-content">
                        <span class="author">Stella Blair</span>
                        <h4>Learn Web Design</h4>
                        <div class="content-btn">
                            <button>Satin al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="assets/images/course-02.jpg" alt=""></a>
                        <span class="category">Development</span>
                        <span class="price">
                            <h6>
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                          fill="#fff"></path>
                                </svg>340
                            </h6>
                        </span>
                    </div>
                    <div class="down-content">
                        <span class="author">Cindy Walker</span>
                        <h4>Web Development Tips</h4>
                        <div class="content-btn">
                            <button>Satin al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="assets/images/course-03.jpg" alt=""></a>
                        <span class="category">Wordpress</span>
                        <span class="price">
                            <h6>
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                          fill="#fff"></path>
                                </svg>640
                            </h6>
                        </span>
                    </div>
                    <div class="down-content">
                        <span class="author">David Hutson</span>
                        <h4>Latest Web Trends</h4>
                        <div class="content-btn">
                            <button>Satin al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="assets/images/course-04.jpg" alt=""></a>
                        <span class="category">Development</span>
                        <span class="price">
                            <h6>
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                          fill="#fff"></path>
                                </svg>450
                            </h6>
                        </span>
                    </div>
                    <div class="down-content">
                        <span class="author">Stella Blair</span>
                        <h4>Online Learning Steps</h4>
                        <div class="content-btn">
                            <button>Satin al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="assets/images/course-05.jpg" alt=""></a>
                        <span class="category">Wordpress</span>
                        <span class="price">
                            <h6>
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                          fill="#fff"></path>
                                </svg>320
                            </h6>
                        </span>
                    </div>
                    <div class="down-content">
                        <span class="author">Sophia Rose</span>
                        <h4>Be a WordPress Master</h4>
                        <div class="content-btn">
                            <button>Satin al</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="assets/images/course-06.jpg" alt=""></a>
                        <span class="category">Webdesign</span>
                        <span class="price">
                            <h6>
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                          fill="#fff"></path>
                                </svg>240
                            </h6>
                        </span>
                    </div>
                    <div class="down-content">
                        <span class="author">David Hutson</span>
                        <h4>Full Stack Developer</h4>
                        <div class="content-btn">
                            <button>Satin al</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>