@using Web.Areas.chemistry_Vafa_admin.ViewModels.QuizCategory
@model QuizCategoryCreatVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            Create Quiz Category
                        </p>
                        <form enctype="multipart/form-data" method="post" asp-action="create" asp-controller="quizcategory" asp-area="chemistry-Vafa-admin" class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input class="form-control" asp-for="Name">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo">Photo</label>
                                <input class="form-control" asp-for="Photo">
                                <span asp-validation-for="Photo"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-check-label" asp-for="IsPaid"></label>
                                <input style="transform:scale(2);margin-left:10px" type="checkbox" asp-for="IsPaid" />
                                <span asp-validation-for="IsPaid"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-light" href="./">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>